<div class="row">
    <h3>Spiel - {{date | date:'yyyy-MM-dd HH:mm:ss'}}</h3>

    <div class="row">
        <span ng-repeat="player in players">
            <h4 class="col-lg-2 col-md-2 col-sm-2 text-right">
                {{player.name}}
            </h4>
        </span>

        <h4 class="col-lg-2 col-md-2 col-sm-2 text-right">
            Spiel
        </h4>
    </div>
    <hr class="col-lg-10 col-md-10 col-sm-10 separator">
    <div>
        <span ng-repeat="score in scores">
            <div class="row">
                <div ng-repeat="playerScore in score.players" class="col-lg-2 col-md-2 col-sm-2 text-right">
                   <span ng-show="playerScore.display">{{playerScore.score}}</span>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 text-right">
                    {{score.game}}
                </div>
            </div>
            <hr class="col-lg-10 col-md-10 col-sm-10 separator" ng-show="!$last && ($index + 1) % players.length == 0">
        </span>
    </div>
    <p></p>
    <div class="row">
        <form ng-controller="NewGameController">
            <span ng-repeat="player in players">
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <input type="number" name="{{player.id}}" ng-model="newScores[player.id]" class="form-control text-right" />
                </div>

            </span>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <input type="number" ng-model="newScore" class="form-control text-right" />
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2">
                <button class="btn btn-default" ng-click="add()" ng-disabled="noScoreEntered()">Speichern</button>
            </div>
        </form>
    </div>
</div>
